################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GpsTracker/.vs/GpsTracker/v16/.suo
